@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu+Condensed&display=swap");

.login-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.heading-section {
  font-size: 32px;
}
